html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.item-container {
    display: flex;
    flex-flow: column nowrap;
}

.item {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-bottom: 2rem;
    padding: 2rem;
    border: 0.5rem solid yellowgreen;
    border-radius: 2rem;
}

.item > img {
    width: 300px;
}